body {
    font-family: 'Arima', cursive;
    background-image: radial-gradient(gray, black);
    color: white;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.background_image {
    background-image: url(images/flood.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.reason {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 80px;
    font-weight: 700;
}

.reason a {
    text-decoration: none;
    color: white;
    background-image: radial-gradient(orange, red);
    padding: 5px 10px;
    border-radius: 5px;
}

.donate {
    text-align: center;
    padding-top: 20px;
}

.flex-container div {
    display: flex;
    margin: auto;
    width: 50%;
    padding-bottom: 10px;
}

.amount h3 {
    background-color: rgb(237, 223, 223);
    padding: 15px 10px;
    color: black;
    border-radius: 3px;
}

#thousands h3 {
    color: tomato;
    border: 3px solid tomato;
    margin-right: 12px;
}

.others a {
    text-decoration: none;
    color: white;
    background-image: radial-gradient(orange, red);
    padding: 5px 10px;
    border-radius: 5px;
}

.others {
    text-align: center;
}

.others hr {
    margin: auto;
    width: 50%;
    margin-bottom: 20px;
    margin-top: -15px;
}

.donation_for {
    text-align: center;
    padding-top: 30px;
}

.flex div {
    display: flex;
    width: 80%;
    margin: auto;
    padding-top: 20px;
}

.use {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.use h3 {
    width: 100%;
}

#skyblue {
    background-color: rgb(218, 230, 236);
    color: black;
    margin: 0 5px;
}

#pink {
    background-color: pink;
    color: black;
    margin: 0 5px;
}

#orange-red {
    background-color: orangered;
    color: black;
    margin: 0 5px;
}